body{
    height: 85vh;
    display: flex;
    align-items: center;
}

#fr-link{
    text-decoration: none;
}

#fr-link:hover{
    text-decoration: underline;
}

#card-style{
    width: 40rem;
    height: min-content;
}
