{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="container">
    <h1>Order Creation</h1>
    <form action="/" method="POST">
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea class="form-control" id="message" name="message" rows="3"></textarea>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="display" name="display">
        <label class="form-check-label" for="display">Display this message to other users</label>
      </div>
      <button type="submit" class="btn btn-dark">Submit Order</button>
    </form>
    <hr>
    <h1>Orders:</h1>
    <div>
      {%for msg in messages%}
        <div class="card mb-2">
          <div class="card-header">
            {{msg[0]}}
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{msg[1]}}</p>
              <footer class="blockquote-footer">{{msg[2]}}</footer>
            </blockquote>
          </div>
        </div>
      {% endfor %}
    </div>
</div>
{% endblock %}