{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <h1>Update your profile</h1>
    <form action="/profile" method="POST">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        <div>
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="mb-3">
            <label for="updateUserNameInput" class="form-label">Name</label>
            <input type="text" class="form-control" id="updateUserNameInput" name="name" required>
        </div>
        <div class="mb-3">
            <label for="updateEmailInput" class="form-label">Email address</label>
            <input type="email" class="form-control" id="updateEmailInput" name="email" required>
        </div>
        <div class="mb-3">
            <label for="updatePassInput" class="form-label">Password</label>
            <input type="password" class="form-control" id="updatePassInput" name="pass" required>
        </div>
        <div class="mb-3">
            <label for="updatePassReptInput" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="updatePassReptInput" name="passrept" required>
        </div>
        <div class="mb-3">
            <label for="updateUserIconInput" class="form-label">Icon link</label>
            <input type="text" class="form-control" id="updateUserIconInput" name="icon" required>
        </div>
        <button type="submit" class="btn btn-dark mb-2">Update</button>
    </form>
    <hr>
    <div class="d-flex flex-row flex-.wrap">
        <div class="flex-fill me-1">
        <h1>My orders</h1>
        {% for msg in messages %}
            <div class="card mb-2">
                <div class="card-header">
                    {{msg[0]}}
                </div>
                <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{msg[1]}}</p>
                    <footer class="blockquote-footer">{{msg[2]}}</footer>
                </blockquote>
                <form action="/delete_message" method="POST">
                    <input type="hidden" name="message_id" value="{{ msg[3] }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="flex-fill">
        <h1>List of users</h1>
        {% for user in users %}
            <div class="card mb-2 ms-1">
                <div class="card-header">
                    {{user[0]}}
                </div>
                <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{user[1]}}</p>
                </blockquote>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}